<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Admin Chứng Khoán
		base(href="http://localhost:3000")
		link(href="css/bootstrap.min.css", rel="stylesheet")
		script(src="js/jquery-3.1.1.min.js")
		script(src="js/bootstrap.min.js")

	body
		h1= (show==0)?"Mã chứng khoán được gắn theo dõi":"Người dùng đăng ký"
		table.table.table-striped.table-hover
			- if(show == 0)
				tr
					th(width='50') MACK
					th Công Ty
					th(width='150') Thêm mới
				- each ck in list
					tr
						td= ck.name
						td= ck.fullname
						td Xóa
			- else
				tr
					th User
					th(width='250') Số lượng đăng ký
					th(width='150') Thêm mới
				- each ck in list
					tr
						td= ck.name
						td= ck.registers.length
						td Xóa
